<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it</h3>
      <ol>
        <li>Create three components: GameControl, odd and even</li>
        <li>The GameControl Component should have buttons to start and stop the game</li>
        <li>When starting the game, an event (holding a incrementing number) 
          should get emitted every second(ref =setInterval)</li>
          <li>The event should be listenable from outside the component</li>
          <li>When stopping the game, no more events should get emitted (clearinterval(ref)) </li>
          <li>A new Odd component should get create for every odd number emitted 
            and same should happen for the even componet(on even number)</li>
            <li>Simply output Odd- NUMBER or Even - NUMBER in the two components</li>
            <li>Style the element(e.g. Paragraph) holding your output text differently 
              in two components</li>
      </ol>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
        <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
      </div>
    </div>
  </div>