<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add a input field which updates a property(username) via two way binding</li>
        <li>Output the username property using String Interpolation(in a paragraph below the input) </li>
        <li>Add a button which may only be clicked if username is not an empty String </li>
        <li>Upon clicking the button the username should be reset to empty String</li>
      </ol>
      <hr>
      <label>Username: </label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p>{{ username }}</p>
      <button class="btn btn-primary" [disabled]="username===''" (click)="username=''">Reset User</button>
    </div>
  </div></div>
    
 